<div>

    <h2 translate="startmeupApp.project.home.title">Projects</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" data-toggle="modal" data-target="#saveProjectModal" ng-click="clear()">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="startmeupApp.project.home.createLabel">Create a new Project</span>
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="saveProjectModal" tabindex="-1" role="dialog" aria-labelledby="myProjectLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myProjectLabel" translate="startmeupApp.project.home.createOrEditLabel">Create or edit a Project</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="project.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="startmeupApp.project.name">Name</label>
                            <input type="text" class="form-control" name="name"
                                   ng-model="project.name">

                            <div ng-show="editForm.name.$invalid">
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="startmeupApp.project.description">Description</label>
                            <input type="text" class="form-control" name="description"
                                   ng-model="project.description">

                        </div>
                        <div class="form-group">
                            <label translate="startmeupApp.project.mydate">Mydate</label>
                            <input type="date" class="form-control" name="mydate"
                                   ng-model="project.mydate">

                            <div ng-show="editForm.mydate.$invalid">
                            </div>
                        </div>

                        <div class="form-group">
                            <label translate="startmeupApp.project.user">user</label>
                            <select class="form-control" name="user" ng-model="project.user.id" ng-options="user.id as user.login for user in users">
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteProjectConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(project.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="startmeupApp.project.delete.question" translate-values="{id: '{{project.id}}'}">Are you sure you want to delete this Project?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="startmeupApp.project.name">Name</th>
                    <th translate="startmeupApp.project.description">Description</th>
                    <th translate="startmeupApp.project.mydate">Mydate</th>
                    <th translate="startmeupApp.project.user">user</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="project in projects">
                    <td><a ui-sref="projectDetail({id:project.id})">{{project.id}}</a></td>
                    <td>{{project.name}}</td>
                    <td>{{project.description}}</td>
                    <td>{{project.mydate}}</td>
                    <td>{{project.user.login}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="projectDetail({id:project.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="showUpdate(project.id)"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(project.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
